@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Bienvenido a el taller confiable</h1>
    <h2>Hola mundo</h2>
        <p>
            En esta aplicacion encontraras nuestro proyecto
            al que le hemos dedicado mucho esfuerzo y trabajo duro.
            Muchas gracias por visitarnos. :)
        </p>
    <asp:Image ID="imgImagen" runat="server" ImageUrl="~/Img/KYOcode.png" AlternateText="kyocode" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
